* {
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  
}
p {
  font-size:1.266rem;
}


.container {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1200px;
}
.imgs img{
  /* width: 1000px;
  height: auto; */

  /* padding: 0; */
}
/* #fff, #222, #000,  and #f8fafc.
 */
header {
  margin: 0 auto;
}
 header div {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

nav ul{
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
}


nav li a{
  text-decoration: none;
  color: black;
  font-size: 2.027rem;
}

.fourimg {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 2rem;


  grid-template-areas: 
  "div1 div1 div1 "
  "div2 div3 div4 "
  ;

}

.fourimg :nth-child(1) {
  grid-area: div1;
}






.fourimg img{
  max-width: 20rem;
  height: auto;
}

 h1 {
  font-size: 2.027rem;
 }

 h2 {
  font-size:1.802rem;
 }

 h3 {
  font-size:1.266rem;
 }
.Sweetheart {
  text-align: left;
  padding-left: 2rem;
}


.Sweetheart a{
  background-color:black;
  color:#fff;
  padding: 10px 20px;
  text-decoration:none;
  border:2px solid black;

  margin-top: auto;
}
.Sweetheart a:hover {
  background-color:#fff;
  color:black;
  
  text-decoration:none;
  border:2px solid black;

}

.behindthedough {
  padding-left: 2rem;
  padding-right: 2rem;

}

.grid img{
  max-width: 20rem;
  border-radius: 10px;

}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1rem;

}
.reviews {
  background-color: #222;
  color: #fff;
}
.reviews div {
  padding-bottom: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}


footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  
}

@media (min-width: 768px) {
  .fourimg  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
  "div1 div2 "
  "div3 div4"
  ;
  }
.grid {
  display: flex;
  flex-direction: row;
  
}
.grid img {
  max-width: 15rem;
  gap: 2rem;
}

.behindthedough,.reviews {
  text-align: center;
}
}
.tryitwith h3 {
  text-align: center;
}


@media (min-width: 960px) {

.textandimg {
  display: flex;
  
}


.reviews-article {
  display: flex;
}

 
}