* {
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  
}
p {
  font-size:1.266rem;
}
section {
  padding: 20px;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1200px;
}
.imgs img{
  /* width: 1000px;
  height: auto; */
}
/* #fff, #222, #000,  and #f8fafc.
 */
header {
  margin: 0 auto;
}
 header div {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

nav ul{
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
}

nav li {
  

}
nav li a{
  text-decoration: none;
  color: black;
  font-size: 2.027rem;
}

.fourimg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 2rem;


  grid-template-areas: 
  "div1 div1 div1 "
  "div2 div3 div4 "
  ;
}
.fourimg :nth-child(1) {
  grid-area: div1;

 

}

.fourimg :nth-child(2) {
  grid-area: div2;
  
}
.fourimg :nth-child(3) {
  grid-area: div3;
}
.fourimg :nth-child(4) {
  grid-area: div4;
}



.fourimg img{
  max-width: 20rem;
  height: auto;
}

 h1 {
  font-size: 2.027rem;
 }

 h2 {
  font-size:1.802rem;
 }

 h3 {
  font-size:1.266rem;
 }
.Sweetheart {
  text-align: left;
}


.Sweetheart a{
  background-color:black;
  color:#fff;
  padding: 10px 20px;
  text-decoration:none;
  border:2px solid black;

  margin-top: auto;
}
.Sweetheart a:hover {
  background-color:#fff;
  color:black;
  
  text-decoration:none;
  border:2px solid black;

}
.grid img{
  max-width: 20rem;
  border-radius: 10px;

}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}
.reviews {
  background-color: #222;
  color: #fff;
}
.reviews div {
  padding-bottom: 10px;
}


footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  
}

@media (min-width: 768px) {
  .imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
.grid {
  display: flex;
  flex-direction: row;
  
}
.grid img {
  max-width: 15rem;
  gap: 2rem;
}
}

@media (min-width: 960px) {

}